//css para ocultar modal de edicão em modal-detalhes
.detalhesAgendamento {
    display: block;
}

.editarAgendamento {
    display: none;
}

.brand-dev {
    display: inline-block;
    vertical-align: middle;
}

.brand-dev img {
    width: 90px;
    vertical-align: middle;
}

.btn_auto {
    background-color: rgb(249,99,50);
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border-width: 1px;
}

.input-group .input-group-btn {
    color: white;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
