<template>
    <div class="container">
        <h5 class="card-header warning-color white-text text-center">
            <strong>Contrato</strong>
        </h5>
        <!--<form>-->
            <div class="card-body px-lg-5 pt-2">
                <div class="row">

                    <div class="col-12 col-lg-6">
                        <div class="md-form mt-6">
                            <input id="id_cliente" type="text" class="form-control" :value="cliente.nome" disabled>
                        </div>
                    </div>

                    <div class="col-lg-4 col-12">
                        <div class="md-form mt-6">
                            <input id="valor_total" type="text" class="form-control" :value="formatMoney((totalGeral - desconto))" disabled>
                        </div>
                    </div>

                    <div class="col-lg-2 col-12">
                        <div class="md-form mt-6">
                            <input id="desconto"
                                   type="number"
                                   min="0"
                                   @input="setDesconto"
                                   @change="numDeParcelas"
                                   class="form-control"
                                   :value.sync="desconto"
                                   name="desconto"
                            >
                            <label for="valor_total" class="active">Desconto</label>
                        </div>
                    </div>

                    <div class="col-lg-5 col-12">
                        <div class="mt-3">
                            <select id="forma_pagamento"
                                    type="text"
                                    v-model="formaDePagamento"
                                    class="form-control"
                                    name="forma_pagamento">
                                <option :value="helperPagamento" selected>{{helperPagamento.nome}}</option>
                                <option v-for="pag in listFormPagamento" :value="pag">{{ pag.nome }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-12" v-if="formaDePagamento.bandeira">
                        <div class="mt-3" id="">
                            <select id="bandeira"
                                    type="text"
                                    class="form-control"
                                    name="bandeira"
                                    v-model="bandeira">
                                <option v-for="listBandeira in listBandeiras"
                                        class="form-control"
                                        :value="listBandeira"
                                >
                                    {{listBandeira}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2 col-12" v-if="formaDePagamento.parcela">
                        <div class="md-form mt-3">
                            <input id="num_parcelas"
                                   type="number"
                                   min="0"
                                   class="form-control"
                                   name="num_parcelas"
                                   v-model="numParcelas"
                                   @input="numDeParcelas"
                            >
                            <label for="num_parcelas" class="active">Nº de parcelas</label>
                        </div>
                    </div>
                    <div class="col-lg-2 col-12" v-if="formaDePagamento.parcela">
                        <div class="md-form mt-3">
                            <input id="valor_parcela"
                                   type="text"
                                   class="form-control"
                                   name="valor_parcela"
                                   v-model="valorParcela"
                                   disabled>
                            <label for="valor_parcela" class="active">Valor da parcela</label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="md-form mt-3">
                            <input v-model="observacao" id="observacao" type="text" class="form-control" name="observacao" value="">
                            <label for="observacao">Observação</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pull-right">
                <button type="button" class="btn btn-warning btn-sm" @click="fecharContrato('Análise')">Orçamento</button>
                <button type="submit" class="btn btn-success btn-sm" @click="fecharContrato('Fechado')">Contratar</button>
            </div>
        <!--</form>-->
    </div>
</template>

<script>
    import {mapState, mapActions, mapGetters} from 'vuex';
    import store from './store/store';
    export default {
        store,
        name: "contrato",
        data () {
            return {
                helperPagamento: {
                    bandeira:0,
                    nome:"Escolha uma forma de Pagamento",
                    parcela:0,
                },
                observacao: "",
                formaDePagamento: {},
                valorParcela: 0,
                numParcelas: 1,
                bandeira:'Selecione a Bandeira',
                listFormPagamento: [],
                listBandeiras: [
                    'Selecione a Bandeira',
                    'Visa',
                    'Mastercard',
                    'Cielo',
                    'American Express'
                ]
            }
        },

        computed: {
            ...mapGetters(['getBandeira','getNumParcelas']),
            ...mapState({
                cliente: state => {
                    return state.cliente;
                },
                desconto: state => {
                    return state.desconto;
                },
                contrato: state => {
                    return state.contrato;
                },
                totalGeral: state => {
                    return state.totalGeral;
                }
            }),
        },

        async mounted () {
            let pag = await (axios.get('/formapagamentos-ajax'));
            this.listFormPagamento = pag.data;
        },

        beforeUpdate() {
            this.numDeParcelas();
        },

        methods: {
            ...mapActions(['setDesconto','salvarContrato']),
            formatMoney(money){
                return new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format(money);
            },

            numDeParcelas () {
                 this.valorParcela = this.formatMoney((this.totalGeral - this.desconto) / this.numParcelas);
            },

            fecharContrato (status)  {
                if(this.formaDePagamento.nome === 'Débito' && this.bandeira === 'Selecione a Bandeira' || this.formaDePagamento.nome === 'Cartão' && this.bandeira === 'Selecione a Bandeira'){
                    swal("Bandeira do Cartão!", "Selecione uma bandeira!");
                } else if(this.formaDePagamento.id) {
                    const obj = {
                        num_parcelas          : this.numParcelas,
                        forma_de_pagamento_id : this.formaDePagamento.id,
                        bandeira              : this.bandeira === 'Selecione a Bandeira' ? "" : this.bandeira,
                        status_contrato       : status,
                        observacao            : this.observacao
                    };
                    this.salvarContrato(obj);
                } else {
                    swal("Forma de pagamento!", "Selecione uma forma de pagamento!");
                }
            }
        },
    }
</script>
