<template>
    <div class="container">
        <h5 class="card-header warning-color white-text text-center">
            <strong>Recomendações</strong>
        </h5>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-center"><i class="fa fa-box"><strong> Pacotes</strong></i></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12 fechar-pacote">
                                <table class="table">
                                    <tbody v-for="item in list">
                                    <tr v-for="index in item">
                                        <td>
                                            <img :src="index.imagem"
                                                 width="100%"
                                                 class="img-fluid"
                                                 @click="setPacoteInRecomendacao(index)"
                                            >
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-center"><i class="fa fa-concierge-bell"><strong> Serviços</strong></i></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12 fechar-servico">
                                <div>
                                    <table class="table">
                                        <tbody>
                                        <tr v-for="listaServico in listServices">
                                            <td>
                                                <img :src="listaServico.imagem"
                                                     width="150px"
                                                     class="img-fluid"
                                                     @click="setServicoInRecomendacao(listaServico)"
                                                >
                                            </td>
                                            <td>
                                                {{formatMoney(listaServico.valor)}} / sessão
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-md-5" v-show="recomendacoesList.length > 0">
                    <div class="card">
                        <div class="card-header"><strong>Recomendações de Pacotes</strong></div>
                        <div class="card-body">
                            <div class="rec-pac">
                                <table class="table">
                                    <tbody>
                                    <tr v-for="recomendacao in recomendacoesList">
                                        <h5 class="text-center">
                                            {{recomendacao.pacotes.nome_pacote}}
                                            <button type="button"
                                                    class="close pull-right"
                                                    id="removePacote"
                                                    @click="removePacote(recomendacao)"
                                            >
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </h5>
                                        <table class="table">
                                            <tbody>
                                            <tr v-for="servico in recomendacao.pacotes.pacotes_servicos">
                                                <td>{{'Pacote ' + servico.nome}}</td>
                                                <td>{{ servico.pivot.qtd_sessao + ' Sessões'}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <hr>
                                        <h5 class="pull-right">
                                            Total do pacote: {{formatMoney(recomendacao.pacotes.valor_pacote)}}
                                        </h5>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7" v-show="recomendacoesListServicos.length > 0">
                    <div class="card">
                        <div class="card-header"><strong>Recomendações de Serviços</strong></div>
                        <div class="card-body">
                            <div class="rec-serv">
                                <table class="table">
                                    <tbody>
                                    <tr class="" v-for="recomendacaoServico  in recomendacoesListServicos">
                                        <td>{{recomendacaoServico.nome}}</td>
                                        <td>
                                            <input disabled
                                                   class="form-control"
                                                   @change="changeValue(recomendacaoServico)"
                                                   v-model="recomendacaoServico.valor"
                                                   :id="'input_' + recomendacaoServico.id"
                                            >
                                        </td>
                                        <td class="">
                                            <input class="form-control"
                                                   type="number"
                                                   min="1"
                                                   v-model="recomendacaoServico.quantidade"
                                                   @input="multiQuantidade(recomendacaoServico)"
                                            >
                                        </td>
                                        <td class="">
                                            <button class="btn btn-sm btn-orange" @click="disableInput(recomendacaoServico)">
                                                <i class="fa fa-pen-alt"></i>
                                            </button>
                                            <button class="btn btn-sm btn-orange" @click="removeServico(recomendacaoServico)">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <contrato></contrato>
        </div>
    </div>
</template>

<script>
    import Contrato from './Contrato';
    import store from './store/store';
    import {mapState, mapActions} from 'vuex';

    export default {
        components: {
            Contrato,
        },
        store,
        mounted() {
            this.getUser();
            this.getListaPacotes();
            this.getListaServicos();
            this.getContrato();
        },
        data: () => ({
            oldValue: 0,
            quantidade: [],
        }),
        computed: {
            ...mapState({
                list: state => {
                    return state.list;
                },
                recomendacoesList: state => {
                    return state.recomendacoesList;
                },
                totalGeral: state => {
                    return state.totalGeral;
                },
                listServices: state => {
                    return state.listServices;
                },
                recomendacoesListServicos: state => {
                    return state.recomendacoesListServicos;
                },
                clienteId: state => {
                    return state.clienteId;
                },
            }),
        },
        methods:{
            ...mapActions([
                'getListaPacotes',
                'getListaServicos',
                'setPacoteInRecomendacao',
                'setServicoInRecomendacao',
                'atualizarRecomendacoesListServicos',
                'removePacote',
                'removeServico',
                'salvarRecomendacoes',
                'getContrato',
                'getUser'
            ]),

            disableInput(recomendacao){
                this.oldValue = recomendacao.valor;
                $('#input_' + recomendacao.id).removeAttr('disabled');
            },

            changeValue (recomendacaoServico) {
                this.atualizarRecomendacoesListServicos(recomendacaoServico);
                $('#input_' + recomendacaoServico.id).prop('disabled', true);
            },

            formatMoney(money){
                return new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format(money);
            },

            multiQuantidade (recomendacaoServico) {
                this.atualizarRecomendacoesListServicos(recomendacaoServico);
            },
        }
    }
</script>

<style scoped>
    img{
        cursor: pointer;
    }
    .fechar-pacote{
        overflow: scroll;
        height: 250px;
        overflow: auto;
    }
    .fechar-servico{
        overflow: scroll;
        height: 250px;
        overflow: auto;
    }
    .rec-pac{
        overflow: scroll;
        height: 250px;
        overflow: auto;
    }
    .rec-serv{
        overflow: scroll;
        height: 250px;
        overflow: auto;
    }
</style>
