<template>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Sessões</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <select @change="getSessoes" class="form-control">
                        <option v-for="contrato in contratos"
                                :value="contrato.id">{{formatarContrato(contrato)}}
                        </option>
                    </select>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <input  v-model="buscar"
                            class="form-control"
                            placeholder="BUSCAR SERVIÇO POR NOME">
                </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-lg-12">
                  <div class="table-responsive">
                      <table class="table table-bordered">
                          <thead>
                          <tr>
                              <th width="40%">Cliente</th>
                              <th width="50%">Serviço</th>
                              <th width="10%"class="text-center">Ação</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr v-for="sessao in search">
                                <td>{{contratos[0].cliente.nome}}</td>
                                <td>{{sessao.servico.nome}}</td>
                                <td class="text-center">
                                    <button class="btn btn-sm btn-green"
                                            @click="executar(sessao)"
                                    >
                                       Executado
                                    </button>
                                </td>
                          </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "sessoes",
        async created(){
            let id = window.location.href.split('/sessoes/');
            this.contratos =  (await axios.get(`/get-sessoes/${id[1]}`)).data;
            await this.setSessoes(this.contratos[0].id);
        },
        data: () => ({
            contratos: [],
            sessoes: [],
            buscar: "",
            list: [],
        }),
        methods: {
            formatarContrato (contrato) {
                return "Valor " + this.formatMoney(contrato.valor_total) + " - " + " DATA: " + this.formataData(contrato.data);
            },
            formatMoney (money) {
                return new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format(money);
            },
            formataData (date) {
                const data = date.split('-');
                return data[2] + "/" + data[1] + "/" + data[0];
            },
            async getSessoes(e) {
                const id = e.target.value;
                this.sessoes = (await axios.get(`/get-sessoes-by-contrato/${id}`)).data;
            },
            async setSessoes(id) {
                this.sessoes = (await axios.get(`/get-sessoes-by-contrato/${id}`)).data;
            },
            async executar(sessao) {
              const response = (await axios.post('/sessoes/executado',sessao)).data;
              this.setSessoes(response.contrato_id);
            },
        },
        computed: {
            search () {
                if(this.sessoes) {
                    return this.sessoes.filter((service) => {
                        return service.servico.nome.match(this.buscar);
                    })
                }
            },
        },
    }
</script>

<style scoped>

</style>
